/* Add your CSS below! */
input { 
    border: 1px solid black; 
    }

form    {
    font-family: futura;
    background-color:pink;
    padding:15px;
}

canvas{
    background-color:white;
}

button {
    background-color: green;
    border: none;
    color: white;
}